---
import LinkedinIcon from "@/icons/Linkedin.astro";
import GithubIcon from "@/icons/GitHub.astro";
import InstagramIcon from "@/icons/Instagram.astro";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const year = new Date().getFullYear();

const SOCIALS = [
  {
    name: "Linkedin",
    url: "https://www.linkedin.com/in/stivenvr",
    icon: LinkedinIcon,
  },
  // {
  //   name: "Contactame",
  //   url: "#",
  // },
  {
    name: "GitHub",
    url: "https://github.com/JS-VILLARREAL",
    icon: GithubIcon,
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/stiveenvr",
    icon: InstagramIcon,
  },
];
---

<footer class="bg-gray-50 rounded-lg shadow dark:bg-gray-900 m-4">
  <div class="w-[400px] sm:w-[560px] max-w-screen-xl mx-auto p-4 md:py-8">
    <div class="flex flex-col items-center">
      <div
        class="flex gap-2 justify-center items-center text-teal-600 sm:justify-start dark:text-teal-300 sm:gap-x-3"
      >
        {
          SOCIALS.map((social) => (
            <a
              href={social.url}
              class="text-gray-500 text-xs/relaxed font-semibold mx-2 hover:underline items-center inline-flex hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
            >
              {social.icon && <social.icon class="size-5 mr-1" />}
            </a>
          ))
        }
      </div>
      <div class="mt-4 w-full border-t border-gray-100 dark:border-gray-800">
        <p
          class="mt-4 text-center text-xs/relaxed text-gray-500 dark:text-gray-400"
        >
          &copy; {year}. {i18n.FOOTER.COPYRIGHT}
          <br />
          {i18n.FOOTER.MADE_WITH}
          <a
            href="https://astro.build"
            target="_blank"
            rel="noopener"
            class="text-gray-700 underline transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          >
            Astro
          </a>
          {i18n.FOOTER.AND}
          <a
            href="https://tailwindcss.com"
            target="_blank"
            rel="noopener"
            class="text-gray-700 underline transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
          >
            Tailwind CSS</a
          >.
        </p>
      </div>
    </div>
  </div>
</footer>
